@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ffffff;
  --color-secondary: #060606;
  --color-secondary-content: #141414;
  --color-accent: #ff014f;
} */

:root[data-theme="light"] {
  --color-primary: #ffffff;
  --color-secondary: #060606;
  --color-secondary-content: #141414;
  --color-accent: #ff014f;
}
:root[data-theme="dark"] {
  --color-primary: #ffffff;
  --color-secondary: #060606;
  --color-secondary-content: #141414;
  --color-accent: #ff014f;
}
